<%- include('partials/header.ejs') %>

<!-- New Code -->
<div class="background">
  <%- include('svg.ejs') %>

  <div class="background-blur">
    <!-- navbar -->
    <%- include('partials/nav.ejs') %>
    <!-- body-grid -->
    <div class="body-div">
      <!-- form-div -->
      <div class="form-div">
        <div class="parent-tags">
          <label class="tags-heading" for="symptoms">Symptoms</label>
          <div class="wrapper-tags">
            <input type="text" list="symptomsList" placeholder="Enter your symptoms here..." name="symptoms" id="symptoms" class="input-tag" />
            <datalist id="symptomsList">
              <% if(locals.symptomsList) { %>
              <% symptomsList.forEach((symptom)=> { %>
              <option>
                <%= symptom %>
              </option>
              <% }) %>
              <% } %>
            </datalist>
          </div>
          <span class="tags-length">0 Tags</span>
          <form action="/predict" method="post">
            <button type="submit" value="error" name="symptoms" class="submit-btn">
              Submit
            </button>
          </form>
        </div>
      </div>

      <!-- abstract-div -->
      <div class="precautions-div">
        <div class="wrapper-result">
          <% if (locals.error) { %>
          <h5 class="error">
            <%= error %>
          </h5>
          <% } %>
          <% if (locals.disease) { %>
          <h3 class="disease-name">
            <%= disease %>
          </h3>
          <% } %>
          <% if (locals.description) { %>
          <p class="description">
            <%= description %>
          </p>
          <% } %>
          <% if (locals.precautions) { %>
          <h3 class="precautions">Precautions:</h3>
          <ul class="precautions-list">
            <% precautions.forEach(element=> { %>
            <li>
              <%= element %>
            </li>
            <% }); %>
          </ul>
          <% } %>
          <% if(locals.severity) { %>
          <h3 class="severity">Symptoms severity:</h3>
          <ul class="severity-list">
            <% for(let key in severity) { %>
            <li><%= key %> : <%= severity[key] %></li>
            <% } %>
          </ul>
          <% } %>
        </div>
      </div>

      <!-- result -->
      <div class="result-div">
        <% if(locals.wikiURL) { %>
          <a href="<%= wikiURL %>" class="wikipedia-logo"><i class="fa-brands fa-wikipedia-w"></i></a>
        <% } %>
      </div>
    </div>
  </div>
</div>

<script src="scripts/blobAnim.js"></script>
<script src="scripts/indexTags.js"></script>

<%- include('partials/footer.ejs') %>