<%- include('partials/result-header.ejs') %>

<nav class="navbar">
  <div class="name-div">
    <span class="name">Symptom Diagnoser</span>
  </div>
  <div class="about-div">
    <a href="" class="about">About</a>
  </div>
</nav>

<div class="grid">
  <div class="result-box">
    <% if (locals.disease) { %>
    <h3 class="disease-name"><%= disease %></h3>
    <% } %>
    <% if (locals.description) { %>
    <p class="description"><%= description %></p>
    <% } %>
  </div>
  <div class="extra-box">
    <h3 class="precautions">Precautions</h3>
    <ul class="severity">
      <% if (locals.precautions) { %>
        <% precautions.forEach(element => { %>
          <li><%= element %></li>
        <% }); %>
        <% } %>
    </ul>

    <h4>Symptoms severity:</h4>
    <ul>
      <% if(locals.severeity) { %>
        <% for(let key in severeity) { %>
          <li><%= key %> : <%= severeity[key] %></li>
        <% } %>
      <% } %>
    </ul>
  </div>
</div>

<%- include('partials/footer.ejs') %>
